body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 2px 5px rgb(126, 126, 126);
}

.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    text-align: center;
}

.scores {
    display: none;
    text-align: center;
}

#gameBtns {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 25px;
}

#play {
    font-size: 1rem;
    border: solid 2px rgb(164, 229, 255);
    background: none;
    color: rgb(114, 186, 214);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: color 0.3s linear;
}

#play:hover {
    color: #fff;
    background-color: rgb(164, 229, 255);
}

#high,
#low {
    font-size: 2rem;
    margin: 12px;
    color: rgb(60, 184, 233);
    border: none;
    background: transparent;
    visibility: hidden;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

#high:hover,
#low:hover {
    transform: scale(1.2, 1.2);
}

button::-moz-focus-inner {
    border: 0;
}


@media (max-width: 600px) {
    .card {
        width: 100px;
        height: auto;
    }
}
