body {
    margin: 0;
    padding: 0;
}

.card {
    width: 200px;
    height: 90%;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgb(126, 126, 126);
}

.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    text-align: center;
    gap: 50px;
}

.table div p {
    margin: 0;
}

.scores {
    display: none;
    text-align: center;
}

#gameBtns {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 20px;
}

#high,
#low {
    font-size: 2rem;
    border-radius: 50%;
    border: solid 3px rgb(164, 229, 255);
    color: rgb(60, 184, 233);
    background: transparent;
    visibility: hidden;
    outline: none;
    cursor: pointer;
}

#high:hover,
#low:hover {
    color: #fff;
    background-color: rgb(164, 229, 255);
    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
}

button::-moz-focus-inner {
    border: 0;
}


@keyframes pulse {
    50% {
        transform: scale(1.1);
        box-shadow: 2px 2px 4px rgb(175, 175, 175);
    }

    100% {
        transform: scale(1);
    }
}
